body{
margin: 0;
padding: 0;
font-family: 'Source San Pro', sans-serif;
}

.nav{
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    gap: 19px;
    padding-left: 30vw;
    margin-bottom: 60px;
}

#first-grey-box{
    background: #DDDDDD;
    border-radius: 0px 0px 5px 5px;    
    height: 100px;
    width: 301px;
}

#second-grey-box{
    width: 621px;
    background: #DDDDDD;
    border-radius: 0px 0px 5px 5px;    
    height: 100px;
    display: flex;
    align-items: center;
}

#second-grey-box > p{
    color: white;
    line-height: 26px;
    margin: 0;
    padding-left: 80px;
    font-weight: bold;
    font-size: 18px;    
}

.second-container{
    display: flex;
    gap:5px;
}


#slider{
  padding-right: 20px;

}
#first-pics{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.images > img{
    height: 200px;
    width: auto;
    border-radius: 5px;

}
#second-pics{
    display: flex;
    gap: 15px;

}

#text{
    display: block;
    max-width: 300px;
    text-align: left;
}

#text > h1{
    color: #134880;
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin-bottom:20px;
}

#text > p{
    color: #484A4C;
    font-size: 18px;
    line-height: 26px;
}

#arrow-container{
     left: 54%;
    align-items: center;
    position: absolute;
    display: flex;
    height: 30%;

}
.arrow{
    flex-direction: column-reverse;
    display: flex;
    row-gap: 10px;
    position: relative;
}

.arrow > img{
    border: solid 1px black;
    padding: 21px 24px;
    border-radius: 5px;
}

.footer{
    width: 80vw;
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    padding-left: 30vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 55%;
}

#third-grey-box{
    border-radius: 5px 5px 0px 0px;
    background-color: #DDDDDD;
    height: 100px;
    width: 941px;
    display: flex;
    align-items: center;
}

#third-grey-box > p{
    color: white;
    line-height: 26px;
    margin: 0;
    padding-left: 80px;
    font-weight: bold;
    font-size: 18px
}